html, body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282D35;
  color: #DEEBF8;
  background-image: url("./assets/react-icon-large.png");
  background-repeat: no-repeat;
  background-position: right center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: #21222A;
}

.nav-logo {
  width: 60px;
  margin-right: 10px;
}

.nav-container > h3 {
  margin-right: auto;
  color: #61DAFB;
}

.nav-items {
  color: #61DAFB;  
  list-style: none;
  display: flex;
  gap: 15px;
}

.main-content {
  padding: 20px;
  background-image: url();
}

.main-content > ul > li {
  padding-block: 10px;
}

.main-content > ul > li::marker {
  font-size: 1.2rem;
  color:#61DAFB;
}

.footer {
  padding: 10px;
  background-color: #323741;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;  
}